.brand-text {
  color: black;
  cursor: pointer;
}

a {
  color: #0290ff;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  color: #0290ff;
}

.mission {
  padding-right: 15px;
  border-right: 1px solid gray;
}
